# Dependency directories
node_modules/
uploads/*
!uploads/.gitkeep

*.sqlite

jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

